body {
    margin: 0 auto;
}

.card {
    display: flex;
    gap: 20px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px #ccc;
    margin: 10px;
    width: 400px;
}

.card-image {
    border-radius: 50px;
}